@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 720px !important;  
}



/* 카테고리 리스트 (hy) */
.tit-lg {
  font-size: 18px; 
}

.tit-md {
  font-size: 15px;
}

.tit-sm {
  font-size: 14px;
}

.tbl {
  width: 100%;
  /* height: 250px;
  overflow: hidden; */
}

.tbl thead, .tbl tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

.tbl tbody {
  display: block;
  overflow: auto;
  height: 280px;
}

.tbl th {
  text-align: center;
  font-weight: 500;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

.tbl th, .tbl td {
  padding: 6px 10px;
  font-size: 14px;
  border-bottom: 1px solid #efefef;
}


.k-grid th {
  font-size: 13px !important;
  font-weight: 500 !important;
  text-align: center;
}

.k-grid td {
  padding: 4px 8px !important;
  font-size: 13px !important;
}